tbody tr.even:hover, #example tbody tr.even td.highlighted {
    background-color: #EAC7C0;
}

tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
    background-color: #EAC7C0;
}

tr.even:hover {
    background-color: #EAC7C0;
}

tr.even:hover td.sorting_1 {
    background-color: #fa8072;
}

tr.even:hover td.sorting_2 {
    background-color: #EAC7C0;
}

tr.even:hover td.sorting_3 {
    background-color: #EAC7C0;
}

tr.odd:hover {
    background-color: #EAC7C0;
}

tr.odd:hover td.sorting_1 {
    background-color: #fa8072;
}

tr.odd:hover td.sorting_2 {
    background-color: #EAC7C0;
}

tr.odd:hover td.sorting_3 {
    background-color: #EAC7C0;
}
.danger{
    color:red;
}
.success{
    color:blue;
}
tr {
    cursor: pointer;
}

