<div id="education">
    <div class="container">
        <div class="site-title text-center ">
            <h3>Education and Experience</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">American University of Armenia</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Department of Computer Science (CIS).
                            Master’s degree.<br>
                            (2011 – 2014)
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">State Engineering University of Armenia</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Control and Informatics in Technical Systems.
                            Department of Cybernetics.
                            Master's  degree. <br>
                            (2010 – 2012)
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">State Engineering University of Armenia</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Control and Informatics in Technical Systems.
                            Department of Cybernetics.
                            Bachelor degree.<br/>
                            (2006 – 2010)
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Microsoft Innovation Center. Yerevan</h4>
                    </div>
                    <div class="timeline-body">
                        <p>C++ training (Level 1), C++ training (Level 2).<br>
                            C# training (Level 2), Course of ADO.NET & ASP.NET<br>
                            (2011 – 2012)
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Iguan Systems. Armenia, Yerevan.</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Web Developer. Maintaining performance of existing client websites. Constructed web sites using Laravel framework<br>
                            (December 2017 – May 2018)</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Helix Consulting LLC. Armenia, Yerevan.</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Web Developer. Maintaining performance of existing client websites. Constructed web sites using Laravel framework. <br>
                            (September 2017 – December 2017)
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">SoftCode LLC. Armenia, Armenia, Yerevan</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Web Developer.
                            Maintaining performance of existing client websites.
                            Suggesting improvements on design and functionality. <br>
                            (January 2016 – July 2017)
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Rosgosstrakh Armenia Insurance CJSC. Armenia, Yerevan</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Web Developer. Implemented inner system enhancement and bugs correction, improvements on design and functionality, worked with databases.<br>
                            (January 2015 – May 2015)
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="skills">
        <div class="site-title text-center ">
            <h3> Skills </h3>
        </div>

        <div class="container">
            <table border=0 class="rectangle-list" style="text-align: center;  margin-left:auto; margin-right:auto;">
                <tr>
                    <td>
                        <ol>
                            <li><p>Knowledge of PHP, CSS, XHTML and JavaScript</p></li>
                            <li><p>Knowledge of Laravel, CodeIgniter frameworks</p></li>
                            <li><p>Experience with design patterns</p></li>
                            <li><p>Knowledge of SQL</p></li>
                            <li><p>Experience with Node.js, AngularJS, LESS, Git and Grunt technologies.</p></li>
                            <li><p>Integrating new technologies into web properties</p></li>
                            <li><p>Knowledge of languages: Armenian fluent, Russian fluent, English Fluent (Toefl IBT, GRE)</p></li>
                        </ol>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>