
<div id="home">
    <section class="bgimage">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="runtext-container" style="width: 100%">
                        <div class="main-runtext">
                            <marquee direction="" onmouseover="this.stop();" onmouseout="this.start();">
                                <p style="color:white; font-size: 20px"> Hello ! I am Inna Tarasyan. I am a Web Developer. Здравствуйте ! Я Инна Тарасян. Я Веб Разработчик ! Ողջույն: Ես Տարասյան Իննան եմ: Ես Վեբ Ծրագրավորող եմ:</p>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>